.Title {
  text-transform: uppercase;
  font-size: 2.6rem;
  font-family: 'Roboto Mono', monospace;
  color: gold;
  position: relative;
  font-weight: 900;
  padding-bottom: 1rem;
  letter-spacing: 3px;
  &::before {
    content: '';
    bottom: 0;
    position: absolute;
    left: 0;
    background-color: #0a0a082d;
    width: 10rem;
    height: 0.4rem;
    border-radius: 50px;
  }
  &::after {
    content: '';
    bottom: 0;
    position: absolute;
    left: 0;
    background-color: rgb(209, 161, 71);
    width: 6rem;
    height: 0.4rem;
    border-radius: 50px;
  }
  span {
    position: absolute;
    top: 10%;
    left: 0;
    font-size: 4rem;
    opacity: 0.3;
  }
}
