@import './Styles/layout.styles';
@import './Styles/NavBar.styles';
@import './Styles/HomPage.styles';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: rgba(254, 231, 21, 0.767);
  font-family: 'Roboto Mono', monospace;
  font-size: 1.2rem;
}
